<address>
		<p class="sml">kite@theliquid.group<br />
			megakite214g@gmail.com</p>
		<p class="sml"><a href="/cc.html" style="color: var(--color-3)">License</a> <a href="/links.html" style="color: var(--color-3)">Links</a><br />
			<%= date(new Date(), 'YYYY') %> <%= config.author %>.</p>
</address>