<header>
	<p class="hg1"><a href="/">kite.theliquid.group</a></p>
	<div class="hg2">
	<p class="hg2">The personal blog of <a href="/about.html" style="color: var(--color-3)"><i>@megakite</i></a>.</p>
	<%- partial('_partials/themepicker') %>
	</div>
</header>
<hr />