<header>
		<p class="hg1"><a href="http://kite.theliquid.group/index.html">kite.theliquid.group</a></p>
		<p class="hg2">The personal blog of <a href="/about.html" style="color: var(--color-3)"><i>@megakite</i></a>.</p>
</header>
<hr />