<div class="theme-picker">
    <div class="theme-picker-icon"></div>
    <div class="theme-options">
        <div class="theme-separator"></div>
        <div class="theme-type" id="theme-gray"></div>
        <div class="theme-type" id="theme-dark"></div>
        <div class="theme-type" id="theme-white"></div>
        <div class="theme-type" id="theme-black"></div>
    </div>
</div>
