html {min-width: 1210px; background-color: #4a75b9; overflow:scroll; overflow-x:hidden;}
h1 {color: white; font-size: 36px; font-weight:700; font-family: sans-serif;}
h2 {color: white; font-size: 28px; font-weight:500;}
