html {background-color: #4a75b9;}
body {text-align: center; background-color: #4a75b9;}
#mp {max-width:1140px; min-width:960px; margin:0 auto; text-align: left;}
h1 {color: white; font-size: 36px; font-weight:700; font-family: sans-serif;}
h2 {color: white; font-size: 28px; font-weight:500;}
p {color: white;}
