* {
	margin: 0; 
	padding: 0;
	border: 0;
}



body {
	text-align: center;
	background-color: #ebebeb;
	padding: 0 1em;
	font-family: 'IBM Plex Sans', 
				 'PingFang SC', 
				 'Hiragino Sans GB', 
				 'Sarasa Gothic SC' , 
				 'Microsoft Yahei UI', 
				 'Microsoft Yahei', 
				 sans-serif;
	}
#page {
	text-align: left;
	max-width: 80em;
	margin: 0 auto;
	}
.indx {
	text-align: center;
	padding: 0 2em;
	}
.artc {
	padding: 0 2em;
	}
.clmn {
	text-align: left;
	vertical-align: top;
	display: inline-block;
	width: 49%;
	}
.intb {
	background-color: #d8d8d8;
	padding: 1em 2em;
}

h1 {
	text-align: center;
	color: #101010;
	font-size: 1.625rem;
	margin-bottom: .5rem;
	font-weight: 700;
	}
h2 {
	color: #101010;
	font-size: 1.375rem;
	margin-bottom: 1rem;
	font-weight: 700;
	}
h3 {
	color: #101010;
	font-size: 1.25rem;
	margin-bottom: 1rem;
	font-weight: 400;
	}
p {
	color: #404040;
	font-size: 1.125rem;
	line-height: 1.75rem;
	margin-bottom: .875rem;
}

.hg1 {
	color: #101010;
	font-size: 2.5rem;
	margin: 1.75rem 0;
	font-weight: 300;
	}
.hg2 {
	color: #808080;
	font-size: 1.75rem;
	line-height: 2rem;
	margin: 1.5rem 0;
	}
.sml {
	text-align: center;
	color: #808080;
	font-size: .875rem;
	line-height: 1.25rem;
	margin-bottom: .875rem;
	}
.aud {
	text-align: center;
	}
.cmt {
	color: #808080;
	font-size: .875rem;
	/*float: right;*/
}

a:link, a:visited {
	color: #404040;
	text-decoration: none;
	}
a:hover, a:active {
	color: #808080;
	text-decoration: none;
	}
img {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto 1.125em;
	display: block;
	box-shadow: 0 .25em 2em #d8d8d8;
	text-align: center;
	}
hr {
	border-top-color: #d8d8d8;
	border-top-width: 1px;
	border-top-style: inset;
	margin: 1.5em 0;
}



@media screen and (max-width: 480px) {

	.indx {padding: 0 1em;}
	.artc {padding: 0 1em;}
	.clmn {display: block; width: auto;}
	.intb {padding: .75em 1.5em;}

	.hg1 {font-size: 2.125rem; margin: 1.5rem 0;}
	.hg2 {font-size: 1.5rem; margin: 1.25rem 0;}

	img {width:100%;}

}


