<!DOCTYPE html>
<html lang="zh-cn">
<%- partial('_partials/head') %>
<body>
    <div id="page">
        <%- partial('_partials/header') %>
        <%- body %>
        <%- partial('_partials/footer') %>
    </div>
</body>
</html>